---
layout: base
eleventyNavigation:
  key: Photography
  order: 2
  hideInMainNav: false
---

<h2>Photography 📸︎</h2>

<div class="">
  <div class="container-fluid py-2">Another alone-time hobby of mine.</div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="img-fit-cover-container rounded-3">
      Inside a culvert connecting 2 lakes in Wisconsin {% image "./src/assets/images/TwitterMaybe.png", "Kayaking in
      Wisconsin." %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 py-5 text-center"><!-- comment --></div>
</div>
